:root {
  --font-family: 'Mulish', sans-serif;
  --light: #00c3ff;
  --primary: #2071e7;
  --dark: #2980b9;
  --dodgerblue: dodgerblue;
  --text: #333;
  --background: #f1f1f1;
  --hint: #999;
  --border: #ddd;
}